@import "../../../node_modules/kouto-swiss"
@import "_includes/variables"
@import "_includes/grid"
@import "_includes/mixins"

#header {
	height: 200px;
	background-color: #ff008a;
	margin-bottom: 1em;
}

.product-row {
	padding: 1em 0;
}

.product-block {
	position: relative;
	border: 1px solid white;
	padding-bottom: 2em;
	img {
		width: 100%;
		height: auto;
	}
	&:hover {
		border: 1px solid $light-grey;
		.quickshop-block {
			display: inline-block;
		}
	}
}

.quickshop-block {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.quickshop {
	font-size: 10px;
	padding: 1em 2em;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: .0875em;
	color: white;
	border-top: 1px solid $light-grey;
	background-color: $secondary;
	&:hover {
		border: none;
		color: white;
		border-top: 1px solid $light-grey;
		background-color: lighten($secondary, 20);
	}
}

.product-name {
	text-align: center;
}

.product-price {
	text-align: center;
}

.pagination {
	padding: 0;
	text-align: center;
	li {
		margin-right: 1em;
		list-style: none;
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
	}
}