button {
	transition: all 250ms ease-in-out;
	background-color: $secondary;
	border: 1px solid $secondary;
	color: white;
	border: none;
	padding: 1em 2em;
	&:hover {
		color: $secondary;
		background-color: white;
		border: 1px solid $secondary;
	}
}