normalize()

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



body {
	gs("fluid");
	overflow: auto;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.row {
	row ();
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.column.sixth {
	col (2);
}

.column.third {
	col (4);
}

.column.fourth {
	col (3);
}

.column.half {
	col (6);
}

.column.two-thirds {
	col (8);
}

.column.full {
	col (12);
}

@media screen and (max-width: 40em) {
	.column.sixth,
	.column.third,
	.column.fourth,
	.column.half,
	.column.two-thirds,
	.column.full {
		col (12);
	}
}